table {
  width: 100%;
  border-block-start-color: blue;
  border-width: thin;
  border: 3px solid grey;
}

th {
  height: 50px;
  border: 2px solid cornflowerblue;
}
td {
  /*text-align: center; */
  justify-content: center;
  border: 2px solid cornflowerblue;
}
